@{
    //ViewData["Title"] = "Registration";
}

<!doctype html>
<html>
<head>
    <title>Hello ASP.NET</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Registration</h2>
    <form method="post">
        <label>Forename</label>
        <input type="text" name="foreName" />
        <br />
        <label>Surname</label>
        <input type="text" name="surName" />
        <br />
        <label>Date of birth</label>
        <input type="date" name="DateOfBirth" />
        <br />
        <label>Address</label>s
        <input type="text" name="Address" />
        <br />
        <label>Email</label>
        <input type="text" name="Email" />
        <br />
        <label>Password</label>
        <input type="text" name="Password" />
        <br />
        <input type="submit" value="Submit data" />
    </form>
</body>
</html>
